  .card {
    background-color: #8bbff3;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card img {
    width: 100%;
  }
  
  /* Contenido del cuerpo de la tarjeta */
  .card-body {
    padding: 15px;
    text-align: center;
    align-items: center;
  }
  
  /* Nombre del Pokemon */
  .pokemon-title.card-title.h5 {
    font-size: 25px;
    margin: 10px;
    color: #333;
  }
  
  /* ID del Pokemon */
  .pokemon-text.card-text {
    font-size: 20px;
    color: #555;
  }
  
  /* Botón de "Ver detalles" */
  .card-body button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }

  .card-body button:hover {
    background-color: #003c7d;
  }